
<div class="card">
  <h5 class="card-header">{{ include.title }}</h5>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">게시글</th>
          <th scope="col">게시일</th>
        </tr>
      </thead>
      <tbody>
        {% for post in site.categories[include.category] %}
        <tr>
          <td scope="row"><a href="{{ post.url }}">{{ post.title }}</a></td>
          <td>{{ post.date | date: "%Y-%M-%d %H:%m"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
